body {
  background-color: #b4c8cf;
}

body {
  font-family: 'Roboto', ital, sans-serif;
  font-weight: 600;
  color: #0e2142;
  align-items: center;
  min-height: 100vh;
  margin: 20px;
}

.btn-primary {
background-color: #041C3D;
border: 50px;
color: white;
padding: 15px 32px;
font-size: 16px;
}

.pokemon-list {
  text-align: center;
  list-style-type: none;
}
